.backgroundimg{
  background-size: cover;
  overflow: hidden;
  width  :100%;
  height: auto;
  padding: 0;
  display:block;
  position: relative;
}

.topofimage{
  position: absolute;
  bottom: 8rem;
  margin-left: 5rem;
}

.headingLogin{
  color: #ff0080;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin-left: 6rem;
}
.buttonCreateAccountLogin {
  /* background-color: red; Green */
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 20%;
  background-color: white;
    color: #555555;
    border: 2px solid #555555;
    width: 20rem;
    height:7rem;
  
}
  /* .button1 {
    
  } */

  /* page heading */
  .loginname{
      color: #555555;
      /* margin-left: 5%; */
      /* background-color: maroon; */
      text-align: left;
      /* padding-bottom: 100pc; */
      font-size: 2rem;
      box-sizing: border-box;
      display: -ms-flexbox; /* IE10 */
      display: flex;
      margin-left: 10rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
  }

  .divform{
    -ms-layout-grid-line: auto;
    background-color: blue;
    width: 200%;
    height: 200%;
    padding: 20px 20px;
  }

  
.form {
  width: 200%;
  height:200%;
  margin: auto;
  /* background-color: blue; */
}

.inputContainer {
  /* width: 100%; */
  margin-bottom: 20px;
  
  
  /* background-color: #e6e6e6; */
  
  width: 200%;
  height: 900%;
}
.icon {
  position: absolute;
  padding: 10px;
  /* color: rgb(49, 0, 128); */
  width: 4rem;
  text-align-last: right;
  margin-left: 185%;
  margin-bottom: 190%;
  color: #999999;
}
.Field {
  width: 100%;
  height: 200%;
  padding: 10px;
  text-align: left;
  font-size: 130%;
  /* font-weight: 500; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* background-color: brown; */
  border: none;
  background-color: #f2f2f2;
}

/* forgot password */
.forpass {
  background-color: white;
  color: #404040;
  border: none ;
  font-size: 120%;
  margin-right: 70%;
  width: 70%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}

/* login button */

  .buttonLogin {
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 15%;
  background-color: white;
    background-color: #ff8080;
    color: white;
    border: 2px solid #ff8080;
    width: 15rem;
    height: 6rem;
    margin-left: 138%;
    margin-top: 3pc;
  }

  .forgot{
    width: 15%;
      height: 3pc;
      /* padding: 15px 10px; */
      background-color: #ff4d4d;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      font-weight: lighter;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border: none;
      margin-top: 10pc;
      margin-left: 45pc;
      float: left;
      /* margin-bottom: 10%; */
      border-radius: 10px;
  }

  .password{
    margin-top: 10%;
  }